.env
__pycache__/
.vscode/
scripts/
chat_history/
question_bank/
homework_data/
quiz_data/
student_data/
venv/
seminar_data/
debate_data/
reports/
english_session_data/
english_test_data/
outputs/
seminar_chat/
seminar_practice_data/
practice_session/

